.nav {
  color: white;
  padding: 25px 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.menu-div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  color: #4caf50;
}

.logo span {
  font: sans-serif;
  font-weight: bold;
  position: relative;
  right: 8px;
  font-size: 1rem;
}

.search-div {
  display: flex;
  gap: 10px;
}

.icons {
  cursor: pointer;
}

@media only screen and (min-width: 750px) {
  .nav {
    padding: 25px 5px 25px 5px;
  }
}
